.navigation {
     border-style: double;
     border-color: darkslategrey;
     font-family: monospace;
     position: fixed;
     top: 0px;
     left: 0px;
     width: 18%;
     height: 100%;
     background-color: rgb(148, 247, 150)
     z-index: 1;
     padding: 10px;
 }
 
 .navigation .room-name:hover {
     cursor: pointer;
 }
 
 .navigation-header {
     display: inline-block;
 }
 
 .messages {
     font-family: monospace;
     border-style: double;
     border-color: darkslateblue;
     position: fixed;
     top: 0px;
     left: 250px;
     width: 82%;
     height: 100%;
     background-color: rgba(100, 5, 200, .10);
     z-index: 2;
     overflow: scroll;
 }
 .messages-body{
     padding-left: 20px;
 }
 .messages-body .username {
     font-weight: bold;
 }
 
 .messages-body .timestamp {
     float: right;
     padding-right: 50px;
 }
 
 .messages-body .username .timestamp {
     display: inline-block;
 }
 
 .messages-body .user-message {
     padding-top: 5px;
     padding-bottom: 5px;
     display: inline-block;
 }
 
 .message-field {
     bottom: 0;
     padding-bottom: 5px;
     position: fixed;
 }
 
 .message-box {
     width: 900px;
 } 

