.navigation {
    border-style: double;
    border-color: darkslategrey;
    font-family: monospace;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 18%;
    height: 100%;
    background-color: rgb(148, 247, 150)
    z-index: 1;
    padding-left: 10px;
    
}

.navigation .room-name:hover {
    cursor: pointer;
}

.navigantion .new-room {
    display: inline-block;
   
}

.navigation-header {
    display: inline-block;
}

.btn {
position: relative;
left: 0px;

}



.modal-footer {
    display: relative;
    top:400px;
    left:0;
}

.modal-box {
position: absolute;
bottom:250px;
/*background-color: aqua;*/
left:10px;
}


.chatbox{
    position: absolute;
    bottom:300px;
    left:30px;
    font-size: 2rem;
/*    width: 10%;*/
    height: 150px;
    color: black;
/*    background-color: aqua;*/
  
}

.modal {
    margin-top: 10px;
    background-color:#939eff;
}


