<div class="navigation">
    <div class="navigation-header">
        <h3 class="navigation-title">Messenger</h3>
    <span>
    <input type="text" id="roomName"></input> 
    <button type="button" class="new-room" ng-click="messenger.addRoom()">New Room</button>
</span>    
    </div>
    
        

    
    
    <div class="chatbox">
        <div class="room-name" ng-repeat="room in messenger.rooms">
            <a ng-click="messenger.setCurrentRoom(room)" >{{ room.name }}</a>
        </div>

    </div>
</div>


<div class="messages">
    <div class="messages-header">{{messenger.currentRoom.name}}</div>       
    <div class="messages-body" ng-repeat="message in room.messages">
    <div class="username"> {{ message.username }}</div>
    <div class="timestamp">{{ message.sentAt | date : "shortTime" }}</div>
    <div class="user-message">{{ message.content }}</div>
    </div>
</div>